$small-device: 320px;   
$medium-device: 768px;     
$large-device: 1170px;     

@mixin MQ($canvas) {
  @if $canvas == small-device {
   @media only screen and (min-width: $small-device) { @content; } 
  }
  @else if $canvas == medium-device {
   @media only screen and (min-width: $medium-device) { @content; } 
  }
  @else if $canvas == large-device {
   @media only screen and (min-width: $large-device) { @content; } 
  }
}

.timeline-container {
	background-color: #E9F0F5;
	margin-top: -16px;

	&::after {
	    content: '';
	    display: table;
	    clear: both;
  	}

  	.timeline-block {
	  position: relative;
	  margin: 2em 0;

	  &:first-child {
	    margin-top: 0;
	  }

	  &:last-child {
	    margin-bottom: 0;
	  }

	  @include MQ(large-device) {
	    margin: 4em 0;

	    &:first-child {
	      margin-top: 0;
	    }

	    &:last-child {
	      margin-bottom: 0;
	    }
	  }

	  .date {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 40px;
		  height: 40px;
		  border-radius: 50%;
		  box-shadow: 0 0 0 4px #fff,
		    inset 0 2px 0 rgba(#000, .08),
		    0 3px 0 4px rgba(#000, .05);
		}

		.timeline-content {
			  position: relative;
			  margin-left: 60px;
			  background: #fff;
			  border-radius: 8px;
			  padding: 1em;
			  box-shadow: 0 3px 0 darken(#e9f0f5, 5%);

			  h2 {
			    color: #303e49;
			  }

			  p {
			    margin: 1em 0;
			    line-height: 1.6;
			  }

			  &::before {
			    content: '';
			    position: absolute;
			    top: 16px;
			    right: 100%;
			    height: 0;
			    width: 0;
			    border: 7px solid transparent;
			    border-right: 7px solid #fff;
			  }

			  @include MQ(medium-device) {
			    h2 {
			      font-size: 20px;
			    }

			    p {
			      font-size: 16px;
			    }

			  @include MQ(large-device) {
			    margin-left: 0;
			    padding: 1.6em;
			    width: 45%;

			    &::before {
			      top: 24px;
			      left: 100%;
			      border-color: transparent;
			      border-left-color: #fff;
			    }

			    .cd-timeline-block:nth-child(even) & {
			      float: right;

			      &::before {
			        top: 24px;
			        left: auto;
			        right: 100%;
			        border-color: transparent;
			        border-right-color: #fff;
			      }
			  }
			}
				}
	}
}
}