@mixin date($radius:50%, $border:1px solid #39D1B4, $width:200px, $height:200px, $line:200px, $text:center, $bgcolor: #39D1B4, $color: #fff, $textsize: 18px) {
	border-radius: $radius;
	border: $border;
	width: $width;
	height: $height;
	line-height: $line;
	text-align: $text;
	background-color: $bgcolor;
	color: $color;
	font-size: $textsize;
}

.timeline-container {
	background-color: #E9F0F5;
	margin-top: -16px;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 0.3;

  	.timeline-block {
	  margin: 2em 0;
	  display: flex;
	  justify-content: space-around;
	  flex-wrap: nowrap;

	  &:first-child {
	    margin-top: 0;
	  }

	  .date {@include date;}

		.timeline-content {
			  position: relative;
			  background: #fff;
			  border-radius: 8px;
			  padding: 1em;
			  box-shadow: 0 3px 0 darken(#e9f0f5, 5%);
			  margin-left: 20px;
			  padding: 1.6em;
			  width: 45%;
			  border-top: 10px solid lightblue;

			  h2 {
			    color: #303e49;
			}

			  p, li {
			    margin: 1em 0;
			    line-height: 1.6;
			    font-size: 18px;
			}

			li {

				a {
					color: #0D4D9A;
					text-decoration: none;
				}
			}

			  &::before {
			    content: '';
			    position: absolute;
			    top: 40px;
			    right: 100%;
			    height: 0;
			    width: 0;
			    border: 25px solid transparent;
			    border-right: 25px solid #fff;
			}
		}
	}
}