@mixin button($bg-color, $color, $padding, $border, $radius, $cursor) {
	background-color: $bg-color;
    color: $color;
    padding: $padding;
    border: $border;
    border-radius: $radius;
    cursor: $cursor;
}

@mixin hover($bg-color, $color, $border, $transition) {
	background-color: $bg-color;
    color: $color;
    border: $border;
    transition: $transition;
}

.form-container {
	border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    opacity: 0.3;

    form {
        width: 50%;
        margin: auto;
    }

    i {
        font-size: 40px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 5px;
        z-index: 99;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
    }

    input[type=text], input[type=email], textarea {
    	width: 100%;
    	padding: 12px;
    	border: 2px solid #818282;
    	border-radius: 4px;
    	box-sizing: border-box;
    	margin-top: 6px;
    	margin-bottom: 16px;
    	/*font-family: 'Source Serif Pro', serif;*/

    	&:focus {
    		border: 6px solid #555;
    	}
    }

    textarea {height: 200px;}

    .error, .success {display: none;}

    .error {color: red;}
    .success {color: green;}

    button[type=submit] {
    	@include button(#4CAF50, #fff, 12px 20px, 1px solid #4CAF50, 4px, pointer);

	    &:hover {
		    @include hover(#fff, #4CAF50, 1px solid #4CAF50, 0.3s);
		}
    }

    button[type=reset] {
    	@include button(#D54439, #fff, 12px 20px, 1px solid #D54439, 4px, pointer);

	    &:hover {@include hover(#fff, #D54439, 1px solid #D54439, 0.3s);}
    }

    .alert {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        margin-top: 10px;
    }

        .successful {background-color: #4CAF50;}

        .fail {background-color: #f44336;}

        .btnclose {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {color: #000;}
        }
}