@mixin width($width) {
	width: $width;
}

header {
	@include width(100%);
	background:{image : url("../img/code.png"); repeat : no-repeat; size : cover;};
	height: 580px;
	margin-top: -16px;

	.navbar {
		@include width(100%);
		height: 70px;

		.active {
			background-color: lightcoral;
			padding-left: 10px;
			padding-right: 10px;
		}

		ul {
			display:flex;
			justify-content: space-around;

			li {
			list-style-type: none;

			.navlink {
				text-decoration: none;
				color: white;
				font-size: 18px;
				font-weight: bold;
				padding-top: 10px;
				text-transform: uppercase;
			}

			.me {
				display: flex;
				flex-direction: column;
				padding-top: 0;
			}

			.icon {display: none;} /* le symbole hamburger du menu */
			}
		}
	}
}

@media screen and (max-width: 770px) {
	.navbar ul {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 770px) {

	.navlink, .me {display: none;}

	.icon {
		position: relative;
		height: 30px;
		width: 30px;
		float: right;
		margin-right: 10px;
		margin-top: 5px;
		cursor: pointer;

		span {
			height: 3px;
			background-color: #fff;
			width: 100%;
			position: absolute;
			top: 20px;
			left: 0;

			&::before {
				content: '';
				height: 3px;
				background-color: #fff;
				width: 100%;
				position: absolute;
				top: -10px;
				left: 0;
			}

			&::after {
				content: '';
				height: 3px;
				background-color: #fff;
				width: 100%;
				position: absolute;
				top: 10px;
				left: 0;	
			}
		}
	}


}

/* correspond au menu déroulant sur petits supports */
	.responsive {
		.navlink, .me {
			float: none;
			display: block;
			text-align: center;
			transition-duration: 0.3s;
			padding: 30px 0 0 0;
			position: relative;
		}
	}