.hobbies {
	margin-top: -20px;
	opacity: 0;

	h2 {
		text-transform: uppercase;
		color: #323E4E;
		text-align: center;
		font-size: 3em;
	}

	p {
		color: #555;
		font-size: 18px;
		text-align: center;
	}

	.img-fitness {
		display: flex;
		justify-content: center;
	}
}