body {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Dosis', sans-serif;

	&::selection {
		background-color: #272822;
		color: #fff;
	}

	&::-moz-selection {
		background-color: #272822;
		color: #fff;
	}
}