@mixin center($text-align) {
	text-align: $text-align;
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

$text-color: #555;
$text-size: 14px;
$family: 'Source Serif Pro', serif;

#profile {opacity: 0;}

.job, .accroche {@include center(center);}

.job {color: $text-color;}

.accroche {
	color: $text-color;
	font-size: $text-size;
	font-family: $family;
}

.card {
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.2);
	width: 66%;
	margin: auto;
	height: 350px;
	@include border-radius(8px);

	.images {
		display: flex;
		justify-content: space-around;
		padding-top: 15px;

		.file {
			text-decoration: none;
			color: #fff;
			display: table;
			border: 1px solid lightcoral;
			background-color: lightcoral;
			padding: 10px;
		}

		img {
			width: 200px;
			height: 200px;
			@include border-radius(50%);
		}

		.pdf {
			width: 50px;
			height: 50px;
		}
	}

	.infos {
		padding: 0 16px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		li {
			list-style-type: none;
			color: $text-color;
			font-size: $text-size;
			font-family: $family;

			a {
				text-decoration: none;
				color: #0D4D9A;
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.card {height: 450px;}
}

@media screen and (max-width: 420px) {
	.card {width: 90%;}
}