@mixin center($text-align) {
	text-align: $text-align;
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

$text-color: #555;
$text-size: 18px;

#profile {
	opacity: 0.3;
	padding-bottom: 30px;
}

.job, .accroche {@include center(center);}

.job {
	color: $text-color;
	font-size: 2.5em;
}

.accroche {
	color: $text-color;
	font-size: $text-size;
}

.card {
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.2);
	width: 66%;
	margin: auto;
	height: 400px;
	@include border-radius(8px);

	.images {
		display: flex;
		justify-content: space-around;
		padding-top: 15px;

		.file {
			text-decoration: none;
			color: #0D4D9A;
			display: table;

			&:hover {text-decoration: underline;}
		}

		img {
			width: 200px;
			height: 200px;
			@include border-radius(50%);
			object-fit: cover;
		}

		.pdf {
			width: 25px;
			height: 25px;
		}
	}

	.infos {
		padding: 0 16px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.coordonnees {
			line-height: 2em;

			li {
				list-style-type: none;
				color: $text-color;
				font-size: $text-size;

				a {
					text-decoration: none;
					color: #0D4D9A;

					&:hover {text-decoration: underline;}
				}
			}
		}
	}
}

@media screen and (max-width: 710px) {
	.card {height: 550px;}
}

@media screen and (max-width: 420px) {
	.card {width: 90%;}
}