@mixin center($text-align) {
	text-align: $text-align;
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

$text-color: #555;
$text-size: 14px;
$family: 'Source Serif Pro', serif;

.job, .accroche {@include center(center);}

.job {color: $text-color;}

.accroche {
	color: $text-color;
	font-size: $text-size;
	font-family: $family;
}

.card {
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.2);
	width: 66%;
	margin: auto;
	height: 350px;
	@include border-radius(8px);

	.images {
		display: flex;
		justify-content: space-between;

		.file {
			display: inline-grid;
			text-decoration: none;
		}

		img {
			width: 200px;
			height: 200px;
			@include border-radius(50%);
			margin: auto;
		}

		.pdf {
			width: 100px;
			height: 100px;
		}
	}

	.infos {
		padding: 0 16px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		li {
			list-style-type: none;
			color: $text-color;
			font-size: $text-size;
			font-family: $family;

			a {text-decoration: none;}
		}
	}
}

@media screen and (max-width: 820px) {
	.card {height: 450px;}
}

@media screen and (max-width: 420px) {
	.card {width: 90%;}
}