@mixin flex($flex, $space) {
	display: $flex;
	justify-content: $space;
}

@mixin list-style($type, $letter) {
	list-style-type: $type;
	text-transform: $letter;
}

.main_skills {
	background-color: #ccc;
	.skills {
		@include flex(flex, center);

		.languages, .frameworks {width: 45%;}

		li {
			@include list-style(none, uppercase);
			line-height: 40px;

			.myProgress {
				width: 100%;
				background-color: #2AB27B;
				line-height: 2em;
				height: 30px;

				.level {
					text-align: center;
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}

	.annex {
		li {@include list-style(none, uppercase);}
		@include flex(flex, space-around);
		flex-wrap: wrap;
	}
}