@mixin flex($flex, $space) {
	display: $flex;
	justify-content: $space;
}

@mixin list-style($type, $letter) {
	list-style-type: $type;
	text-transform: $letter;
}

h3 {color: #fff;}

.main_skills {
	background-color: #0F1721;
	padding: 15px;

	.skills {
		@include flex(flex, center);

		.languages, .frameworks {width: 45%;}

		li {
			@include list-style(none, uppercase);
			line-height: 40px;
			color: #fff;
			font-weight: 700;

			.myProgress {
				width: 100%;
				background-color: #2AB27B;
				line-height: 2em;
				height: 30px;

				.level {
					text-align: center;
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}

	.annex {
		li {
			@include list-style(none, uppercase);
			background-color: #ED1C40;
			color: #fff;
			padding: 15px;
			border-radius: 8px;
			font-weight: bold;
		}

		@include flex(flex, space-around);
		flex-wrap: wrap;
	}
}