@mixin flex($flex, $space) {
	display: $flex;
	justify-content: $space;
}

@mixin list-style($type, $letter) {
	list-style-type: $type;
	text-transform: $letter;
}

h2 {color: #fff;}

.main_skills {
	background-color: #0F1721;
	padding: 15px;
	opacity: 0;

	.skills {
		@include flex(flex, center);

		.languages, .frameworks {width: 45%;}

		li {
			@include list-style(none, uppercase);
			line-height: 40px;
			color: #fff;
			font-weight: 700;

			.myProgress {
				width: 100%;
				background-color: #ddd;
				line-height: 2em;

				.level {
					text-align: center;
					color: #fff;
					font-weight: bold;
					height: 30px;
					background-color: #2AB27B;
				}

				@keyframes level90 {
					0% {width: 0%;}
					100% {width: 90%;}
				}

				@keyframes level85 {
					0% {width: 0%;}
					100% {width: 85%;}
				}

				@keyframes level80 {
					0% {width: 0%;}
					100% {width: 80%;}
				}

				@keyframes level75 {
					0% {width: 0%;}
					100% {width: 75%;}
				}

				@keyframes level70 {
					0% {width: 0%;}
					100% {width: 70%;}
				}

				@keyframes level60 {
					0% {width: 0%;}
					100% {width: 60%;}
				}

				.level90 {
					width: 90%;
					animation: {name: level90; duration: 2s;};
				}

				.level85 {
					width: 85%;
					animation: {name: level85; duration: 2s;};
				}

				.level80 {
					width: 80%;
					animation: {name: level80; duration: 2s;};
				}

				.level75 {
					width: 75%;
					animation: {name: level75; duration: 2s;};
				}

				.level70 {
					width: 70%;
					animation: {name: level70; duration: 2s;};
				}

				.level60 {
					width: 60%;
					animation: {name: level60; duration: 2s;};
				}
			}
		}
	}

	.annex {
		display: flex;
		@include flex (flex, space-around);
		flex-wrap: wrap;

		li {
			@include list-style(none, uppercase);
			color: #fff;
			padding: 15px;
			border-radius: 8px;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			text-align: center;

			img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				margin-bottom: 50px;
			}
		}

		@include flex(flex, space-around);
		flex-wrap: wrap;
	}
}